.row {
  margin: 2.5rem 0 2.5rem 10px;
}

.row_posters {
  display: flex;
  gap: 20px;
  overflow-y: hidden;
  overflow-x: scroll;
  scrollbar-width: none !important;
}

.row_poster {
  object-fit: contain;
  max-width: 180px;
  max-height: 120px;
  transition: transform 450ms;
}

.row_poster:hover {
  transform: scale(1.08);
  opacity: 1;
}

.row_posters::-webkit-scrollbar {
  display: none;
}

.row_posterLarge {
  max-height: 250px;
}
.row_posterLarge:hover {
  transform: scale(1.09);
}
